.container {
    margin-top: 30px;
}
.post {
    gap: 50px;
    margin-top: 60px;
}

.container h1, .container h2 {
    line-height: 1.3;
}

.container p {
    color: var(--light-text);
}
